*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    
}

.header{
    position: relative;
    height: 600px;
    background-image: url(/img/tie-690084_1920.jpg);
    width: 100%;
    color:whitesmoke;
}
.hb{
    position: absolute;
    transform: translate(75%);
}
.c{ 
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);

}
.tjanster{
    
    position: relative;
    height: 200px;
    margin: 60px;
}
.heading1{
    text-align: center;
    
    
}
.m{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
}

.lista {

    list-style: none;
    text-align: center;
    display:flex;
    

}
.li {
    border: 2px solid rgb(0, 0, 0);
    list-style: none;
    text-align: center;
  
    padding:5px; 
    margin: 5px;  
    
    border-radius: 4px;
}

.cards{
    margin: 20px;
    display: flex;
    justify-content: space-around;
}
.right1{
    top:150px;
}
.right2{
    top:150px;
}

.container{
    
    width:100%;
}
.contact{
    width:100%;
}

.card-img-top{

}

@media screen and (max-width: 600px){
 .lista {
     display:flex;
     flex-direction: column;
     
 }
}