body{
    
}

.header{
    position: relative;
    height: 600px;
    background-image: url(/img/tie-690084_1920.jpg);
    width: 100%;
    color:whitesmoke;
}
.btn{
    position: absolute;
    transform: translate(75%);
}
.c{ 
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);

}
.tjanster{
    height: 5rem;
    position: relative;
    margin: 60px;
}
.heading1{
    margin-left:20px;
    
}
.m{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
}

.lista {
    border: 2px solid rgb(0, 0, 0);
    list-style: none;
    text-align: center;
    display:inline-block;
    padding:5px; 

}
.li {
    border: 2px solid rgb(0, 0, 0);
    list-style: none;
    text-align: center;
    display:inline-block;
    padding:5px;   
    transform:translate(-75%);    
}

.cards{
    margin: 20px;
    display: flex;
    justify-content: space-around;
}
.right1{
    top:150px;
}
.right2{
    top:150px;
}

.container{
    
    width:100%;
}
.contact{
    width:100%;
}

.card-img-top{

}