*,*::before

body{
    font-family: 'Exo','Tajawal', sans-serif;


}

header {
    height: 90vh;
    background: url("img/tie-690084_1920.jpg"), url("img/office-1209640_640.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    position: relative;

}

.headingstyle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    text-transform: uppercase;
    text-decoration:none;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    
}
.item {
    background-color: black;
    color:whitesmoke;
    text-align: center;
    box-shadow: 2px 2px rgb(168, 26, 26, 0.4);
}
.item:hover {
    color: red;
}

.bak-col{
    
}