.gridContainer {
   height:700px;
   display:grid;
   grid-template-columns: 100px 200px;
   grid-gap: 10px;
   grid-template-rows: 100px 100px 100px;
}

.gridItems {
    background: turquoise;
    height: 100px;
}

.bilder{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px;
    grid-template-rows: repeat();
    
    bac
}
.blrd{
    height:300px;
    width: 300px;
    background-image: 

}

@media screen and (max-width:720px){
    .bilder{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}