*,*::before

body{
    font-family: 'Exo','Tajawal', sans-serif;


}

header {
    height: 90vh;
    background:rgb(240, 240, 240);
    position: relative;

}

.headingstyle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    text-transform: uppercase;
    text-decoration:none;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}
.item {
    background-color: black;
    color:whitesmoke;
    text-align: center;
}
.item:hover {
    color: red;
}

.bak-col{
    
}