
:root{
    --greencol:green;
}

*
{
 margin:0;
 padding:0;
 box-sizing: border-box;   
}
body{
    
    font-family: 'Exo','Tajawal', sans-serif;

}
.nav {
    position: relative;
    right: 20px;

}
.header{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr 1fr;
    width:100%;
   
  
}

    

.navli a {
    text-decoration: none;
    background-color: black;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Exo';
    font-size: 22px;
    color: whitesmoke;
    font-style:bold;
    margin:5px;
    
}
.navli a:hover{
    color:#433473;
    box-shadow: 2px 2px 8px #433473;
}
.navbar {
    margin: 20px;
    list-style: none;
    text-align: center;
     display:flex;
     justify-content: flex-end;
}
.navli{

  
}
.logga img {
    height: 150px;
    width:100px;
    background-size: cover;
}